#hero.hero
  .hero__info
    .hero__title Lorem Ipsum<br class="hero__title__break"/> Dolor Sit Amet 
    p.hero__text Sed ut perspiciatis unde omnis iste natus error
    button.hero__btn button

.sec1
  img(alt="sec1 img").sec1__img
  .sec1__info
    h1.sec1__title title 
    p.sec1__text Lorem ipsum dolor sit amet, consequatctetur adipisicing elit, sed do eiusmod tempor incidaidunt ut labore et dolore magna aliqua. 
    button.sec1__btn button

.sec2
  img(alt="sec2 img").sec2__img
  .sec2__info
    h1.sec2__title title 
    p.sec2__text Lorem ipsum dolor sit amet, consequatctetur adipisicing elit, sed do eiusmod tempor incidaidunt ut labore et dolore magna aliqua. 
    button.sec2__btn button

.footer
  .footer__copyright copyright